svg {
    background-color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

path.link {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
}

path.link.to {
    /*stroke-dasharray: 10,2;*/
    /*stroke: #b06f4a;*/
    stroke-width: 3px;
}

path.link.from {
    /*stroke-dasharray: 10,2;*/
    /*stroke: #b06f4a;*/
    stroke-width: 3px;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke: white;
    stroke-width: 1.5px;
    fill: #4a6fb0;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 );
}

circle.terminal {
    fill: #b06f4a;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

.foreign {
    font-size: 75%;
    line-height: 1em;
    background: transparent;
    color: white;
    /*font-family: Futura-CondensedExtraBold, Futura, Helvetica, Arial, sans-serif;*/
    font-family: Futura;
    font-weight: 100;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    letter-spacing: 1px;
}
