#flowchart {
    display: none;
    text-align: center;
}

#toggle-visual {
    font-size: 9px;
}

svg {
    background-color: #FFF;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

path.link {
    fill: none;
    stroke: #444;
    stroke-width: 2px;
}

    path.link.yes {
        stroke: #6fb04a;
    }

    path.link.no {
        stroke: #b06f4a;
    }

    path.link.not-sure {
        stroke: #bfbf4a;
    }

path.link.to {
    /*stroke-dasharray: 10,2;*/
    /*stroke: #b06f4a;*/
    stroke-width: 2px;
}

path.link.from {
    /*stroke-dasharray: 10,2;*/
    /*stroke: #b06f4a;*/
    stroke-width: 2px;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke: white;
    stroke-width: 1.5px;
    fill: #4a6fb0;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 );
}

circle.terminal {
    fill: #b06f4a;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

.foreign {
}

text.answer {
    fill: white;
    font-family: Futura;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 100%;
}

circle.answer {
    stroke: white;
    stroke-width: 0.5px;
    cursor: pointer;
}

    .answer.yes {
        fill: #6fb04a;
    }

    .answer.no {
        fill: #b06f4a;
    }

    .answer.not-sure {
        fill: #bfbf4a;
    }


text.node {
    font-size: 14px;
    background: transparent;
    fill: white;
    font-family: Futura-CondensedMedium, Futura;
    font-weight: 100;
    letter-spacing: 1px;
}

#text-measure {
    font-size: 14px;
    font-family: Futura-CondensedMedium, Futura;
    font-weight: 100;
    position: absolute;
    letter-spacing: 1px;
    left: -10000px;
    top: -10000px;
}

