body {
    padding: 1em;
    font-weight: 100;
}

#survey {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#question {
    text-align: center;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

#choices-container {
    text-align: center;
}

#reset {
    text-align: center;
}

#share {
    margin: 0px auto;
    text-align: center;
}

#share div {
    display: inline-block;
}

h1 strong {
    color: red;
}

.glow {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 8px #ccc;
}

#flowchart {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#flowchart .row {
    display: block;
    padding: 3px;
}

#flowchart .row .response {
    width: 140px;
    font-size: 0.8em;
    display: inline-block;
    line-height: 1em;
    padding: 0.5em;
    margin: 0.5em;
    vertical-align: top;
}

#size-area {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

div.answer {
    width: 150px;
    font-size: 0.8em;
    padding: 0.5em !important;
}

path.line {
    stroke: black;
    stroke-width: 1px;
}
/*
#flowchart .row .response.yes {
    left: 0px;
}

#flowchart .row .response.no {
    left: 10px;
}

#flowchart .row .response.not-sure {
    left: 20px;
}*/

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
