body {
    padding: 1em;
    font-weight: 100;
}

#survey {
    text-align: justify;
}

#demographics #questions div {
    padding-top: 1em;
}

#demographics #questions div input,select {
    float: right;
}

#demographics #questions div textarea {
    display: block;
    width: 100%;
}

#question {
    text-align: center;
    font-size: 150%;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

#choices-container {
    padding-top: 1em;
    text-align: center;
}

#reset {
    text-align: center;
}

#share {
    margin: 0px auto;
    text-align: center;
}

#share {
    white-space:nowrap;
}

#share div,span {
    display: inline-block;
}

h1 {
    text-align: left;
    margin-bottom: 0.5em;
}

h1 strong {
    color: red;
}

.glow {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 8px #ccc;
}

#flowchart {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#flowchart .row {
    display: block;
    padding: 3px;
}

#flowchart .row .response {
    width: 140px;
    font-size: 0.8em;
    display: inline-block;
    line-height: 1em;
    padding: 0.5em;
    margin: 0.5em;
    vertical-align: top;
}

#size-area {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

div.answer {
    width: 150px;
    font-size: 0.8em;
    padding: 0.5em !important;
}

#start,#submit,.do-survey {
    text-align: center;
}
